* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    font-size: 15px;
}

ul {
    list-style: none;
}

.container {
    width: 90vw;
    height: 80vh;
    background-color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}

.reviews {
    height: 50%;
}

.reviews-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.review {
    background-color:hsl(300, 43%, 22%)
    ;
    display: column;
    padding: 20px;
    justify-content: space-between;
    width: 30%;
    height: 150px;
}


p {
    display: inline;
}

.call {
    width: 50%;
}

.user-infos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.name-verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}